body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.contanier{
    
    max-width: 600px;
    width: 100%;
    border: 2px solid red;
}
.hello{
    text-align: center;
    cursor: pointer;
}
.hello:hover{
    color: red;

}
