.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 10px;
}
.box{
    width: 200px;
    height: 200px;
    border: 2px solid red;
    border-radius: 20px 10px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 5px 6px #000;
}
.box1{
    background-color: aqua;
}
.box2{
    background-color: brown;
}